* {
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(to left, #00aaff, #00ff6c); */

  background-color: #00aaff1f;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.whole {
  background-color: #080;
  background-color: #00aaff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  width: 98vw;
  max-width: 500px;
  margin: 4rem auto;
  padding: 20px 0 0;
  border-radius: 30px 0 0 30px;
  box-shadow: 0 0 15px #000;
  height: fit-content;
}

.whole header {
  color: #800080;
  font-weight: 600;
  margin: 1.5rem 10px;
  font-size: 30px;
  transition: 0.5s;
  width: fit-content;
}

.whole header:hover {
  color: #00ff6c;
  margin: 1.5rem 20px;
  cursor: default;
}

form {
  width: 100%;
}

form .section1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}

.input {
  background-color: #808080;
  color: #000;
  border: none;
  font-size: 2rem;
  display: block;
  width: 100%;
  height: fit-content;
  padding: 2px 10px;
  border-radius: 5px;
  word-break: normal;
}

.input::placeholder {
  color: #d5d5d5;
}

.section1 .add-btn {
  border: none;
  background-color: #ffa500;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}

.section1 .add-btn:hover {
  padding: 13px;
  box-shadow: 0 0 10px;
  cursor: pointer;
}

.tasks {
  position: relative;
  width: 100%;
  margin: 1.5rem 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.todos {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  transition: 0.8s;
}

.todos.dragging {
  opacity: 0.5;
}

.todos .topic {
  background-color: #fff;
  width: 100%;
  height: fit-content;
  min-height: 20px;
  word-break: normal;
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px;
  margin: 1rem 0;
  border-radius: 5px;
  transition: 0.5s;
}

.todos .topic.done {
  background-color: #00ff6c;
  color: #00aaff;
}

.todos .topic.deleted {
  background-color: #f00;
  color: #00aaff;
}

.todos .buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.todos .del-btn {
  background-color: #f00;
  border: none;
  color: #fff;
  margin: 0 5px;
  padding: 10px;
  transition: 0.5s;
}

.todos .del-btn:hover {
  border-radius: 20px;
  box-shadow: 0 0 10px #00ff6c;
  margin: 0 5px;
  padding: 10px;
}

.todos .tick-btn {
  background-color: #00ff6c;
  color: #00aaff;
  border: none;
  margin: 0 5px;
  padding: 10px;
  transition: 0.5s;
}

.todos .tick-btn:hover {
  border-radius: 20px;
  box-shadow: 0 0 10px #f00;
  margin: 0 5px;
  padding: 10px;
}

.todos img {
  width: 35px;
  height: 35px;
}

.tasks .reset-btn {
  background-color: #a52a2a;
  color: #fff;
  border: none;
  border-radius: 3px;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  align-self: flex-end;
  position: absolute;
  bottom: -60px;
  box-shadow: 0 5px 10px #222;
  transition: 0.5s;
}

.tasks .reset-btn:hover {
  padding: 10px 20px;
  bottom: -80px;
  cursor: pointer;
}
